@charset "ut-f8";

@media screen and (min-width: 1200px) {
    .break {
        flex-basis: 100%;
    }

    .roupas_002 {
        height: 750px;
    }

    .autidor {
        margin-top: 200px;
        height: 450px;
    }

    .section_criar_blusas {
        height: 500px;
    }

    .info_blusa {
        width: 300px;
    }

    .info_blusa > p {
        font-size: 1.5em;
    }

    .contem_button > a > button {
        width: 200px;
        padding: 8px;
        font-size: 0.9em;
    }

    .imagem_blusa {
        width: 300px;
        height: 370px;
    }

    .perguntas {
        margin-left: 50px;
    }

    .menu_fantasma{
        justify-content: start;
        align-items: start;
        padding: 20px 0px 0px 20px;
    }
}
