@charset "ut-f8";

:root {
    --cor_000: #D4C2AD;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #BA8E7Ace;
    --cor_004: #66796B;
    --cor_005: #99735f;
    --cor_006: #4f6264d9;
}

.fundo_transparente {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 98;
    backdrop-filter: blur(3px);
    background-color: #ffffff00;
    display: none;
}

.popap {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 99;
    border-radius: 20px;
    overflow: hidden;
    display: none;
}

.ocupar_popap {
    width: 100%;
    height: 100%;
    background-color: var(--cor_000);
    position: relative;
}

.sair_popap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.texto_do_cab {
    width: 80vw;
    padding: 0px 0px 10px 0px;
    margin: 80px 0px 0px 20px;
}

.contem_texto_do_cab > h1 {
    font-size: 2em;
    width: 100%;
    font-family: "titulo_cab";
}

.contem_texto_do_cab > p {
    font-size: 0.9em;
    width: 80%;
}

/* section roupas */

.titulo_roupa {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

h2 {
    font-size: 2.3em;
    font-family: "a_mao";
    color: black;
}

.roupas_001 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0px 0px 50px 0px;
}

.fundo {
    width: 100%;
    height: 580px;
    background-color: var(--cor_000);
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translate(0% ,-50%);
}

.roupa{
    width: 39vw;
    max-width: 200px;
    margin: 0px 20px;
    z-index: 1;
}

.roupa_img {
    width: 100%;
    height: 80%;
    box-shadow: 2px 2px 10px #00000078;
}

.roupa_img > img {
    width: 100%;
    height: 100%;
}

.info{
    margin: 5px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

.roupa_nome {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.roupa_preco {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sifrao {
    font-size: 0.7em;
}

.preco {
    font-size: 1.1em;
}

.ver_mais {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ver_mais > a {
    color: black;
    text-decoration: underline;
    z-index: 1;
    font-size: 1em;
}

.autidor {
    width: 100%;
    height: 250px;
    margin: 0px 0px 50px 0px;
    background-color: var(--cor_004);
    background-image: url("../midia/img/foto010.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.roupas_002 {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.preto {
    color: rgba(0, 0, 0, 0.799);
}

.section_criar_blusas {
    width: 100%;
    height: 300px;
    background-color: var(--cor_000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_blusa {
    width: 150px;
    height: 200px;
    background-color: var(--cor_001);
    background-image: url("../midia/img/foto001.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: -10px -15px 0px var(--cor_005);
}

.info_blusa {
    width: 180px;
    margin: 0px 0px 0px 20px;
}

.info_blusa > p {
    text-align: center;
}

.contem_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.contem_button > a > button {
    width: 150px;
    padding: 3px;
    border-radius: 20px;
    border: none;
    background-color: var(--cor_005);
    box-shadow: 5px 5px 10px #00000057;
}

footer {
    width: 100%;
    background-color: var(--cor_004);
    margin: 100px 0px 0px 0px;
}

.titulo_pergunta > h2{
    font-size: 1.5em;
    font-family: "titulo";
    margin: 0px 0px 0px 20px;
}

.lista_pergunta {
    width: 100%;
    /* height: 800px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    width: 90%;
    display: flex;
    justify-content: start;
    margin: 20px 0px 0px 20px;
}

h3 {
    font-family: "titulo";
}

li > div {
    width: 10px;
    height: 10px;
    font-size: 1.5em;
    margin: auto 0px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta {
    width: 80vw;
    margin: 15px 20px 0px auto;
    display: none;
}
