@charset "ut-f8";

@keyframes aparecer {
    from {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes sumir {
    from {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes aparecer_logo_texto {
    from {
        margin-left: -40px;
        z-index: 0;
    }

    to {
        margin-left: 0px;
        z-index: 0;
    }
}

@keyframes aparecer_menu_fantasma {
    from{
        width: 0px;
        height: 0px;
    }

}

@keyframes sumir_menu_fantasma {
    to {
        width: 0vw;
        height: 0px;
    }

    100% {
        width: 0px;
        height: 0px;
        /* display: none; */
    }
}

@keyframes aparecer_quero {
    from {
        bottom: 50px;
        top: 100%;
        content: "";
    }

    80% {
        content: "quero ver";
    }

    to {
        top: 50%;
        bottom: 0px;
        content: "quero ver";
    }
}
