@charset "ut-f8";

:root {
    --cor_000: #d4c2ad;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #ba8e7ace;
    --cor_004: #66796B;
    --cor_005: #9e7955;
    --cor_006: #4f6264d9;
}

.carrinho {
    display: none;
}

.espacar {
    width: 100%;
    height: 100px;
}

.contem_meus_produtos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.meus_produtos {
    width: 300px;
}

.produto {
    width: 300px;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4c2ad54;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 30px 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.199);
}

.nome_produto {
    width: 180px;
    padding: 5px 0px 0px 20px;
    margin: 15px 0px 0px 0px;
}

.contem_preco_produto {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.sifrao {
    font-size: 1em;
}

.preco {
    font-size: 1.8em;
}

.contem_img_produto > img {
    width: 90px;
    height: 110px;
}

.contem_quant_produto {
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0%,-50%);
}

.quant {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.pode_gostar {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.lista_gostar {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produto_ofer {
    margin: 20px 0px;
}

.roupa_imagem {
    width: 150px;
    height: 180px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.195);
}

.roupa_imagem > img {
    width: 100%;
    height: 100%;
}

.info {
    margin: 10px 0px 0px 20px;
}

.roupa_preco {
    display: flex;
}

.espacao {
    width: 100%;
    height: 300px;
}

.pagar {
    width: 100%;
    height: 200px;
    background-color: rgb(245, 244, 244);
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.contem_pagamento{
    width: 200px;
}

.palavra {
    font-size: 2em;
}

.pagamento {
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 50px;
}

.sifrao_pague {
    font-size: 1.5em;
}

.preco_pague {
    font-size: 2em;
}

button {
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.194);
    background-color: rgb(255, 208, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.114);
    font-size: 1.3em;
    margin: 10px 0px 0px 0px;
}

@media screen and (min-width: 600px) {
    .produto_ofer {
        margin: 20px 20px;
    }

    .meus_produtos {
        width: 400px;
    }

    .produto {
        width: 400px;
    }
}

@media screen and (min-width: 992px) {
    .meus_produtos {
        width: 440px;
    }

    .produto {
        width: 440px;
        height: 150px;
    }

    .contem_img_produto > img {
        width: 130px;
        height: 150px;
    }

    .contem_quant_produto {
        font-size: 1.5em;
    }
}
