@charset "ut-f8";

.titulo {
    font-size: 2em;
}

.finalizar {
    width: 100%;
    height: 200px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.info_finalizar {
    align-self: flex-start;
    margin-left: 80px;
}

.conteudo_finalizar {
    width: 80%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

button {
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 187, 0);
    background: linear-gradient(to bottom , rgb(255, 187, 0) , rgb(255, 132, 0));
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0px;
}

.ocupar_espaco {
    width: 100%;
}

.produtos_escolhidos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produto_carrinho {
    width: 80%;
    max-width: 500px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px 20px -15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.371);
    display: flex;
    position: relative;
}

.imagem_do_produto {
    width: 30%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}

.imagem_do_produto > img {
    width: 100%;
    height: 100%;
}

.info_carrinho {
    width: 60%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 20px;
}

.preco_da_roupa {
    display: flex;
    align-items: center;
}

.sifrao {
    font-weight: bolder;
}

.valor {
    font-size: 2em;
}

.quantidade {
    width: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%,-50%);
}

.quant {
    font-size: 1.5em;
    text-align: center;
}

img {
    width: 100%;
}

.seta_baixo {
    opacity: 0.3;
}

.lixeira {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate( 0% , -50%);
    background: url("../midia/icones/lixaira.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mostrar_tantao {
    width: 100%;
    height: 200px;
}
