@charset "ut-f8";


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@font-face {
    font-family: 'texto';
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_cab";
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "texto_002";
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_roupa";
    src: url(../fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "retro_pixel";
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "grande_grosso";
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "a_mao";
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --cor_000: #D4C2AD;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #ba8e7ace;
    --cor_004: #66796B;
    --cor_005: #9e7955;
    --cor_006: #4f6264d9;
}

html , body {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 243, 240);
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contem_logotitulo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--cor_000);
    background: url("../midia/img/logo-desenho.png");
    background-position: center;
    background-repeat: no-repeat;
}

.titulo_titulo > h1{
    font-size: 3em;
    font-family: "titulo";
}

.enunciado {
    width: 100%;
    height: 100px;
}

.titulo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo > h1 {
    font-family: "a_mao";
    font-size: 1em;
}

.produto {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.257);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
    filter: drop-shadow(0px 25px 13px rgba(0, 0, 0, 0.437));
}

.escolher_blusa {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
}

.mostrar_tantao {
    width: 100%;
    height: 300px;
}
