@charset "ut-f8";


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@font-face {
    font-family: 'texto';
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_cab";
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "texto_002";
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_roupa";
    src: url(../fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "retro_pixel";
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "grande_grosso";
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "a_mao";
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --cor_000: #D4C2AD;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #ba8e7ace;
    --cor_004: #66796B;
    --cor_005: #9e7955;
    --cor_006: #4f6264d9;
}

html , body {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to bottom, rgb(255 0 0 / 51%),rgb(205 0 0 / 77%)); */
    background-color: rgb(243, 241, 238);
    overflow: hidden;
}

.enunciado {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.contem_logo {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contem_logo > h1 {
    font-family: "titulo";
    font-size: 3em;
}

.contem_logo > img {
    width: 60px;
    height: 60px;
}

.enunciado > h1 {
    font-family: "a_mao";
    font-weight: normal;
}

.botao_upload {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.botao_upload > button {
    width: 200px;
    height: 40px;  
    background-color: white;
}

#ajustar {
    width: 100px;
}

.pre_viu {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contem_info_previu {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contem_info_previu > img {
    width: 350px;
    z-index: 5;
    margin-left: 80px;
    animation: aparecer_produto 1s;
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.316));
}

.quadro_fundo {
    width: 280px;
    height: 280px;
    background-color: red;
    position: absolute;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.268);
    bottom: -20px;
    left: 40px;
}

.qual_cor {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.cor {
    width: 30px;
    height: 30px;
    background-color: rgb(212, 25, 25);
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.229);
}

#corazul {
    background-color: #22acf6;
}

#coramarelo {
    background-color: #ffe312;
}

#corrosa {
    background-color: #f772f3;
}

#corbranco {
    background-color: white;
}

#corpreto {
    background-color: black;
}

.contem_tamanho {
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    bottom: -180px;
    transform: translate(-50%,0%);
}

.tamanho {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostrar_tudo {
    width: 100%;
    height: 60vh;
}

.botoes {
    margin: 50px 0px 0px 0px;
}

.botao {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

button {
    width: 300px;
    padding: 5px;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    margin: 10px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    background-color: rgb(255, 176, 6);
}

.botao > button > img {
    width: 30px;
}

#upload {
    background-color: white;
}

#trocar {
    display: none;
}
