@charset "ut-f8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@font-face {
    font-family: 'texto';
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_cab";
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "texto_002";
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "titulo_roupa";
    src: url(../fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "retro_pixel";
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "grande_grosso";
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "a_mao";
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 223);
}


:root {
    --cor_000: #D4C2AD;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #ba8e7ace;
    --cor_004: #66796B;
    --cor_005: #9e7955;
    --cor_006: #4f6264d9;
}

.cab_comum {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: #ffffff00;
    z-index: 10;
}

.logo_jm {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

h1 {
    font-family: "titulo";
}

.navegacao {
    margin: 0px 10px 0px 0px;
}

nav {
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.carrinho {
    width: 25px;
}

.carrinho > img {
    width: 100%;
}

.casca_menu {
    width: 200px;
    height: 300px;
    background-color: var(--cor_000);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
    animation: aparecer_menu_fantasma 1s;
}

.interior {
    /* display: none; */
    opacity: 0;
    animation: aparecer 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.sair_menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor_001);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.147);
}

ul {
    list-style-type: none;    
}

li {
    margin: 10px 0px;
    width: 100px;
}

.lista_menu_produtos {
    width: 80%;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo > h2 {
    font-size: 2em;
    font-family: "a_mao";
}