@charset "ut-f8";

:root {
    --cor_000: #D4C2AD;
    --cor_001: #D7A184;
    --cor_002: #EFDFCC;
    --cor_003: #ba8e7ace;
    --cor_004: #66796B;
    --cor_005: #9e7955;
    --cor_006: #4f6264d9;
}

html,body {
    width: 100%;
    height: 100%;
}

.cab_comum {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: #ffffff00;
    z-index: 10;
}

.logo_jm {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

h1 {
    font-family: "titulo";
}

.navegacao {
    margin: 0px 10px 0px 0px;
}

nav {
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.carrinho {
    width: 25px;
}

.carrinho > img {
    width: 100%;
}

.casca_menu {
    width: 200px;
    height: 300px;
    background-color: var(--cor_000);
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
    animation: aparecer_menu_fantasma 1s;
}

.interior {
    /* display: none; */
    opacity: 0;
    animation: aparecer 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.sair_menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--cor_001);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.147);
}

ul {
    list-style-type: none;    
}

li {
    margin: 10px 0px;
    width: 100px;
}

.lista_menu_produtos {
    width: 80%;
}

/* tudo unico da qui para baixo */

.cab_unico {
    width: 100%;
    height: 400px;
    background-color: var(--cor_004);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.297);
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.285));
}

/* secao de mais vendidos */

.mais_vendidos {
    width: 100%;
    height: 550px;
    margin: 80px 0px 0px 0px;
}

.espacar {
    width: 100%;
    height: 60px;
}

.contem_roupas_vendidas {
    display: flex;
    justify-content: center;
}

.roupas_vendidos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
}

.roupa {
    margin: 50px 0px 0px 0px;
}

.roupa_imagem {
    width: 120px;
}

.roupa_imagem > img {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
}

.info {
    margin: 0px 0px 0px 10px;
}

.roupa_preco {
    display: flex;
    align-items: center;
}

.sifrao {
    font-size: 1.3em;
}

.fazer_minha {
    margin: 50px 0px 0px 0px;
}

.dividir {
    width: 100%;
}

.nav_escolha {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_escolha > nav {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dentro_nav_escolha {
    width: 90px;
    margin: 25px 0px 0px 0px;
    padding: 8px 0px;
    background-color: rgb(209, 209, 209);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.22);
    text-align: center;
    border-radius: 20px;
}

.dentro_nav_escolha:hover {
    background-color: rgb(193, 192, 192);
}

.quadro_escolha001 {
    margin: 50px 0px 0px 0px;
}

.lista_escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quadrado_escolha {
    width: 90px;
    height: 90px;
    background-color: var(--cor_000);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px){
    
    .quadrado_escolha{
        background-position: center;
        background-size: cover;
    }

    #quadro01 {
        background-image: url("../midia/img/foto001.jpeg");
    }

    #quadro02 {
        background-image: url("../midia/img/foto005.jpeg");
    }

    #quadro03 {
        background-image: url("../midia/img/foto003.jpeg");
    }

    #quadro04 {
        background-image: url("../midia/img/foto006.jpeg");
    }

    #quadro05 {
        background-image: url("../midia/img/foto007.jpeg");
    }

}

.quadrado_escolha:hover{
    background-position: center;
    background-size: cover;
}

#quadro01:hover {
    background-image: url("../midia/img/foto001.jpeg");
}

#quadro02:hover {
    background-image: url("../midia/img/foto005.jpeg");
}

#quadro03:hover {
    background-image: url("../midia/img/foto003.jpeg");
}

#quadro04:hover {
    background-image: url("../midia/img/foto006.jpeg");
}

#quadro05:hover {
    background-image: url("../midia/img/foto007.jpeg");
}

.quadrado_escolha:hover > div.texto001 {
    display: none;
}

.contem_autidor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.autidor {
    max-width: 700px;
    width: 100%;
    height: 300px;
    margin: 50px 0px 0px 0px;
    background-color: var(--cor_004);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.203);
}

.botao {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.button {
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,var(--cor_005),#836648);
    /* color: white; */
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.criar_sua {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contem_info_criar {
    width: 300px;
    height: 100%;
    position: relative;
}

.imagem_criar {
    width: 150px;
    height: 180px;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.193),-20px 20px 0px var(--cor_000);
}

.imagem_criar > img {
    width: 100%;
    height: 100%;
}

.info_criar {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0%,-50%);
    width: 130px;
    font-size: 1.3em;
}

#criar{
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,var(--cor_000),#a5998c);
    position: absolute;
    bottom: 15px;
    right: -10px;
}

.lista_estampa {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.estampa {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    position: relative;
}


.contem_img_estampa {
    width: 150px;
    height: 180px;
    margin: 10px 0px 0px 0px;
}

.contem_img_estampa:hover::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    background-color: var(--cor_001);
    animation: aparecer_quero 1s;
    animation-fill-mode: forwards;
    text-align: center;
    padding: 50px 0px 0px 0px;
    overflow: hidden;
    font-size: 1.5em;
}

.contem_img_estampa > img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.28);
}

.fundo_rodape {
    width: 100%;
    height: 400px;
    background-color: var(--cor_000);
}

.paragrafo {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.paragrafo > p {
    width: 80%;
}

.contato {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0px 0px 0px 30px;
}

.titulo_contato {
    width: 100%;
    display: flex;
    justify-content: baseline;
    padding: 0px 0px 20px 15px;
}

.contem_contato {
    margin: 5px 0px;
}

.watts > .contem_contato{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #19ca3de4;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.199);
    margin: 0px 0px 0px -5px;
    border-radius: 20px;
}

.contem_contato > img {
    width: 30px;
    border-radius: 50%;
    margin: 0px 10px 0px 20px;
}

@media screen and (min-width:600px) {
    .roupa {
        margin: 50px 10px 0px 10px;
    }

    .contem_img_estampa {
        width: 200px;
        height: 230px;
    }

    .lista_estampa {
        margin: 30px 0px 200px 0px;
    }

    .paragrafo {
        display: block;
        margin: 0px 0px 0px 30px;
    }

    .paragrafo > p {
        max-width: 320px;
    }
}

@media screen and (min-width: 768px) {

    .casca_menu {
        width: 300px;
        height: 350px;
    }

    li {
        font-size: 1.5em;
        width: 200px;
    }

    .roupa_imagem {
        width: 150px;
    }

    .espacar {
        height: 160px;
    }

    #espacar003 {
        display: none;
    }

    .lista_estampa {
        margin: 0px 0px 200px 0px;
    }

    .estampa {
        margin: 40px 0px;
    }

}

@media screen and (min-width: 992px) {
    .cab_unico {
        height: 550px;
    }

    .mais_vendidos {
        margin: 150px 0px 0px 0px;
    }

    .contem_info_criar {
        width: 400px;
    }

    .imagem_criar {
        width: 200px;
        height: 230px;
    }

    .lista_estampa {
        margin: 0px 0px 300px 0px;
    }
}

@media screen and (min-width: 1200px) {

    .roupa_imagem {
        width: 200px;
    }

    #espacar001 {
        height: 300px;
    }

    .dentro_nav_escolha {
        padding: 5px 15px;
    }

    .nav_escolha > nav {
        max-width: 550px;
    }

    .quadrado_escolha {
        width: 120px;
        height: 120px;
    }

    .autidor {
        max-width: 800px;
        height: 400px;
    }

    .estampa {
        margin: 40px 40px;
        width: 250px;
    }

    .lista_estampa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 300px;
        margin: 0px 0px 300px 0px;
    }

    .paragrafo > p {
        max-width: 600px;
        font-size: 1.4em;
        margin-left: 50px;
    }

    .watts > .contem_contato {
        width: 250px;
    }

    .contem_contato {
        font-size: 1.3em;
    }

    .contato {
        padding: 0px 0px 0px 80px;
    }

    .contem_img_estampa {
        width: 250px;
        height: 280px;
    }
}
